<section id="hero" class="mx-5">
        <div class="col-lg-4 p-2">
                <div class="row ml-lg-5 p-4">
                        <div class="intro col-lg float-right left-border m-4 ">
                                <h1 class="hero-line p-3">Read a Book Anywhere.</h1>
                        </div>
                </div>

        </div>
        <div class="col-lg-4"></div>
        <div class="col-lg-4"></div>
</section>
<section id="features" class="mt-5">
        <div class="edge"></div>
        <div class="container feature">
                <ul class="d-flex justify-content-between">
                        <li class="list-icon d-flex flex-column">
                                <div class="thumbnail shadow">
                                        <i-feather name="globe" class="icon mt-2 row"></i-feather>
                                </div>
                                <div class="text">
                                        <p class="mt-5">Access your favourite from anywhere in the world</p>
                                </div>

                        </li>
                        <li class="list-icon d-flex flex-column">
                                <div class="thumbnail shadow">
                                        <i-feather name="book-open" class="icon mt-2"></i-feather>
                                </div>
                                <div class="text">
                                        <p class="mt-5">Access unlimited genres of books</p>
                                </div>
                        </li>

                        <li class="list-icon d-flex flex-column">
                                <div class="thumbnail shadow">
                                        <i-feather name="credit-card" class="icon mt-2"></i-feather>
                                </div>
                                <div class="text">
                                        <p class="mt-5">Best subscription prices on the market</p>
                                </div>
                        </li>

                </ul>
        </div>
</section>
<section id="products">
        <div class=""></div>
        <div class=""></div>
        <div class=""></div>
</section>